input.chat_input {
    border-radius: 0;
    border: none;
    /* background-color: red; */
    width: 86%;
    /* height: 100%; */
}

.chatInputBlock {
    border: 1px solid #E5E5E5;
}

.airplaneImg {
    position: relative;
    right: -20px;
}

.chatInputBlock button {
    background-color: #FFF;
    height: 45px;
    width: 72px;
}

