
.roomItem {
    position: relative;
    display: flex;
    align-items: center;
    background-color: #7879F1;
    font-size: 14px;
    padding: 15px;
    border-radius: 5px;
    text-align: left;
    color: white;
}

.roomItem .roomTitleWrapper {
    max-width: 400px;
    overflow: hidden;
}


.roomItem img {
    position: absolute;
    right: 22px;
}
